h4, .c1 {
    text-align: center;
   
}
.car_img {
color: white;
}
.c1{
    padding-bottom: 20px;   
}
.head, .c1{
    background-color:white;
}
.info_bar {
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
p{
    margin: 0;
    padding: 0;
}
.para_line_1{
    font-size: 10px;
}
.bar_col_2{
    font-size: 12px;
    border-left: 1px solid white;
    text-align:left;
}
.bar_3_col_1{
    background-color: white;
    padding-top: 43px;
    padding-bottom: 43px;
}
.bar_btn{
    border: 1px solid white;
    text-align: left;
}
.bar_3{
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 5% 2%;
    background-color: rgb(231, 231, 231);   
}
.sec_col{
    border-left: 1px solid white;
}

.box_row1{
    align-items: center;
}
.box_row2{
    align-items: center;
}
.card_row {
    padding: 1% 8%;
}
.carousel_btn {
    margin: 2%;
    padding: .5% 3%;
}
.col_num{
padding-top: 50px;
padding-bottom: 50px;
}

